Source: lua-pgmoon
Section: universe/interpreters
Priority: optional
Maintainer: Miles Elam <miles@geekspeak.org>
Build-Depends: debhelper (>= 9), luarocks, libssl-dev
Standards-Version: 3.9.4
Homepage: https://github.com/leafo/pgmoon
Vcs-Browser: https://github.com/leafo/pgmoon
Vcs-Git: https://github.com/leafo/pgmoon

Package: lua-pgmoon
Architecture: all
Pre-Depends: debconf
Depends: lua5.1 | lua5.2 | libluajit-5.1-2, nginx-extras | lua-socket, lua-cjson,
 lua-bitop, lua-lpeg
Recommends: lua-sec
Suggests: luarocks, pgbouncer, pgpool2
Provides: lua5.1-pgmoon, lua5.2-pgmoon
Description: Pure Lua Postgres driver for use in OpenResty & more
 PostgreSQL client library written in pure Lua (MoonScript).
 .
 pgmoon was originally designed for use in OpenResty to take advantage of
 the cosocket api to provide asynchronous queries but the necessary
 functionality is also available from nginx-extras. It also works in the
 regular Lua environment as well using LuaSocket. For MD5 authentication,
 use OpenResty/nginx-extras or install LuaCrypto with luarocks. To allow
 secure connections with TLS, use LuaSec (lua-sec package). pgmoon can
 also use cqueues' socket when passed "cqueues" as the socket type when
 instantiating, available through luarocks.
 .
 It's a perfect candidate for running your queries both inside an
 OpenResty/nginx-extras environment and on the command line (eg. tests)
 in web frameworks like Lapis.
